body{
    font-family: var(--font-main), -apple-system, BlinkMacSystemFont;
    background: whitesmoke;
    margin: 0;
    padding: 20px;
}


.header-logo{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #666;
}

.card-container{
    display: grid;
    gap: 20px;
    padding: 0 20px;

}

@media(max-width:600px) {
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(min-width:601px) and
 (max-width:1024px) {
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:1025px) {
    .card-container{
        grid-template-columns: repeat(5,1fr);
    }
}


.card{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: 0.3s;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  } 


.card button{
    background: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    
}

.card button:hover{
    background: #2980b9;
}

.price{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.description{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }